<article class="post">
    <div class="title">
        <div>
            {{title}} 
        </div>
        <div>
            {{user.username}} on
            {{format_date created_at}}
        </div>    
    </div>
    <div class="meta">
    {{post_content}}
    <br/>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>